## Tibbles with tibble

tibbleというRのdata.frameを微調整して便利なったデータフレームを理解しよう. 
tibbleは行と列が制限されて表示されるが, 必要に応じて状態を

In [1]:
library (tidyverse)

Loading tidyverse: ggplot2
Loading tidyverse: tibble
Loading tidyverse: tidyr
Loading tidyverse: readr
Loading tidyverse: purrr
Loading tidyverse: dplyr
Conflicts with tidy packages ---------------------------------------------------
filter(): dplyr, stats
lag():    dplyr, stats

In [4]:
vignette("tibble")

starting httpd help server ... done

### Creating Tibbles

In [6]:
as_tibble(iris) %>% print()

# A tibble: 150 × 5
   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
          <dbl>       <dbl>        <dbl>       <dbl>  <fctr>
1           5.1         3.5          1.4         0.2  setosa
2           4.9         3.0          1.4         0.2  setosa
3           4.7         3.2          1.3         0.2  setosa
4           4.6         3.1          1.5         0.2  setosa
5           5.0         3.6          1.4         0.2  setosa
6           5.4         3.9          1.7         0.4  setosa
7           4.6         3.4          1.4         0.3  setosa
8           5.0         3.4          1.5         0.2  setosa
9           4.4         2.9          1.4         0.2  setosa
10          4.9         3.1          1.5         0.1  setosa
# ... with 140 more rows

In [7]:
tibble (
    x = 1:5, 
    y = 1, 
    z = x ** 2 + y
) %>% print

# A tibble: 5 × 3
      x     y     z
  <int> <dbl> <dbl>
1     1     1     2
2     2     1     5
3     3     1    10
4     4     1    17
5     5     1    26

In [8]:
tribble (
    ~x, ~y, ~z, 
    "a", 1, .4, 
    "b", 3, 1.3
) %>% print()

# A tibble: 2 × 3
      x     y     z
  <chr> <dbl> <dbl>
1     a     1   0.4
2     b     3   1.3

In [12]:
# []は必ずtibbleを返す
t_iris <- as_tibble(iris)
t_iris[1, 1] %>% class; # 型落ちしない
iris[1, 1] %>% class;　 # numeric

[1] "tbl_df"     "tbl"        "data.frame"

[1] "numeric"