## Data import with readr

表形式のテキストデータについては, このパッケージを利用することで, 
インポートに時間をかけずにデータと向き合うことが可能となる. 

`read_csv`を中心に説明するが他の関数も概ね同じ記法であるため, 十分に参考になる.

In [1]:
library (tidyverse)

Loading tidyverse: ggplot2
Loading tidyverse: tibble
Loading tidyverse: tidyr
Loading tidyverse: readr
Loading tidyverse: purrr
Loading tidyverse: dplyr
Conflicts with tidy packages ---------------------------------------------------
filter(): dplyr, stats
lag():    dplyr, stats

In [3]:
read_delim ("a|b|c\n1|.2|TRUE", delim= "|") %>% print

# A tibble: 1 × 3
      a     b     c
  <int> <dbl> <lgl>
1     1   0.2  TRUE

### Parsing a Vector

readrの詳細に迫る前に, parse_*関数について遠回りして確認しよう.

In [7]:
parse_logical( c("TRUE", "NA", "FALSE"))
parse_integer( c("1", "3", "2"))
parse_date(c("2010-01-01"))

[1]  TRUE    NA FALSE

[1] 1 3 2

[1] "2010-01-01"

In [19]:
## localがparseのオプションとなる
## default
parse_double("1.23")
parse_double("1,23", locale = locale(decimal_mark = ","))

[1] 1.23

[1] 1.23

In [20]:
default_locale()

<locale>
Numbers:  123,456.78
Formats:  %AD / %AT
Timezone: UTC
Encoding: UTF-8
<date_names>
Days:   Sunday (Sun), Monday (Mon), Tuesday (Tue), Wednesday (Wed), Thursday
        (Thu), Friday (Fri), Saturday (Sat)
Months: January (Jan), February (Feb), March (Mar), April (Apr), May (May),
        June (Jun), July (Jul), August (Aug), September (Sep), October
        (Oct), November (Nov), December (Dec)
AM/PM:  AM/PM

In [47]:
rawToChar(charToRaw("aAbcdefg"))

[1] "aAbcdefg"

In [50]:
guess_encoding(charToRaw("a4"))

  encoding confidence
1 ASCII    1

In [51]:
parse_date ("01/02/15", "%m/%d/%y")

[1] "2015-01-02"

In [53]:
## write_excel_csvを利用すれば, UTF8でエクセルが読み込めるデータを出力できる
my_iris <- iris
my_iris$'はじめて' <- sample(c ("kiss", "フルマラソン", "ｼﾝｶﾝｾﾝﾉｶﾀｲｱｲｽ"), 150, replace=TRUE)
write_excel_csv(my_iris, "my_iris.csv")