## Strings with stringr

In [2]:
library (tidyverse)
library (stringr)

Loading tidyverse: ggplot2
Loading tidyverse: tibble
Loading tidyverse: tidyr
Loading tidyverse: readr
Loading tidyverse: purrr
Loading tidyverse: dplyr
Conflicts with tidy packages ---------------------------------------------------
filter(): dplyr, stats
lag():    dplyr, stats

### with NA

stringrはNAをNAとして扱う. NA値の場合に文字列として利用したい場合には, つぎのようにする.

In [3]:
x <- c ("ABC", NA_character_)
str_c ("|-", x, "-|")
str_c ("|-", str_replace_na(x), "-|")

[1] "|-ABC-|" NA

[1] "|-ABC-|" "|-NA-|"

### locale

In [14]:
x <- c ("apple", "banana", "eggplant", "みかん", "O157")
str_sort (x, locale="en")
str_sort (x, locale="haw")

[1] "apple"    "banana"   "eggplant" "O157"     "みかん"

[1] "apple"    "eggplant" "O157"     "banana"   "みかん"

### Grouped Matches

In [18]:
noun <- "(a|the) ([^ ]+)"
has_noun <- sentences %>%
    str_subset (noun) %>%
    head(10);
has_noun %>%
    str_extract(noun)

 [1] "the smooth" "the sheet"  "the depth"  "a chicken"  "the parked"
 [6] "the sun"    "the huge"   "the ball"   "the woman"  "a helps"

In [21]:
has_noun %>%
    str_match(noun) %>%
    print

      [,1]         [,2]  [,3]
 [1,] "the smooth" "the" "smooth"
 [2,] "the sheet"  "the" "sheet"
 [3,] "the depth"  "the" "depth"
 [4,] "a chicken"  "a"   "chicken"
 [5,] "the parked" "the" "parked"
 [6,] "the sun"    "the" "sun"
 [7,] "the huge"   "the" "huge"
 [8,] "the ball"   "the" "ball"
 [9,] "the woman"  "the" "woman"
[10,] "a helps"    "a"   "helps"

In [23]:
tibble(sentence = sentences) %>%
    tidyr::extract (
        sentence, 
        c ("article", "noun"), "(a|the) ([^ ]+)", 
        reomove =FALSE
    ) %>% 
    print()

# A tibble: 720 x 2
   article    noun
 *   <chr>   <chr>
 1     the  smooth
 2     the   sheet
 3     the   depth
 4       a chicken
 5    <NA>    <NA>
 6    <NA>    <NA>
 7     the  parked
 8    <NA>    <NA>
 9    <NA>    <NA>
10    <NA>    <NA>
# ... with 710 more rows

### replaceing mathches

In [27]:
## replaceは, 複数のパターンマッチを一度に与えることができる
x <- c ("1 house", "2 cars", "3 pepole", "a 1")
str_replace_all (x, c ("1" = "one", "2" = "two", "3" = "theee"))

[1] "one house"    "two cars"     "theee pepole" "a one"

In [28]:
## web 言語のようにバックリファレンスが可能である
## 以下では3センテンス目を, 2センテンス目と入れ替えている
sentences %>%
    str_replace ("([^ ]+) ([^ ]+) ([^ ]+)", "\\1 \\3 \\2") %>% 
    head(5)

[1] "The canoe birch slid on the smooth planks."
[2] "Glue sheet the to the dark blue background."
[3] "It's to easy tell the depth of a well."
[4] "These a days chicken leg is a rare dish."
[5] "Rice often is served in round bowls."